    .axis path,
      .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
	  .contour-line {
	    fill: none;
	    stroke: lightblue;
	    stroke-width: 1px;
	  }
	  .event {
	    fill: none;
	    stroke: green;
	    stroke-width: 3px
	  }
	  .noevent {
	    fill: red;
	    stroke: red;
	  }